#myCanvas{
    border: 1px solid red;
    width:1000px;
    height:500px;
    display: block;
    margin:auto;
    margin-bottom: 1rem;
}

#info {
    text-align: center;
}

#bt {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}